/* CSS */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
@font-face {
    font-family: 'roboto-light';
    src: local('roboto-light'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-medium';
    src: local('roboto-medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-regular';
    src: local('roboto-regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    position: relative;
    font-family: roboto-regular;
}

h1, h2, h3, h4, h5, h6, p, strong{
	margin: 0;
	padding: 0;
}

.gray-bg{
    background: rgb(112,112,128);
}
.black-bg{
    background: rgb(36,36,36);
}

.main-loading-screen{
    width: 100%;
    height: 200px;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 30%;
    right: 50%;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    -o-transform: translate(50%,50%);
    transform: translate(50%,50%);
    -webkit-transition: transform 1000ms Ease-in;
    -o-transition: transform 1000ms Ease-in;
    transition: transform 1000ms Ease-in;
}

#canvas{
    position: absolute;
    display: block;
    z-index: 2;
}

.loading-remove{
    -webkit-transform: translate(200%,50%);
    -ms-transform: translate(200%,50%);
    -o-transform: translate(200%,50%);
    transform: translate(200%,50%);
}

.loading-cont{
    width: 25%;
    height: 80%;
    position: relative;
    display: block;
    margin: 0 auto;
}

.loading-text{
    width: 100px;
    height: 10px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

.loading-image{
    background-image: url(../images/flash-run1.gif);
    background-size: 100%;
    background-position: 0%, 0%;
    width: 150px;
    height: 150px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.left{float: left;}
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-left{ text-align: left; }
.c-pointer{ 
    cursor: pointer; 
    text-decoration: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bin-relative-block-wh-100{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.main-wrapper{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0 auto;
    opacity: .8;
    z-index: 3;
}
.main-bg{
    position: absolute;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
}
.header{
    background: #101010;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: block;
    position: relative;
}
.header-img{
    z-index: 1;
    opacity: 0.5;
    height: 100%;
    position: absolute;
}
.header-nav{
    width: 80%;
    height: 5%;
    position: relative;
    display: block;
    z-index: 2;
    left: 10%;
    font-size: 12px;
}
.header-btns{
    width: 25%;
    height: 100%;
    position: relative;
    display: block;
    line-height: 30px;
    color: #c1c1c1;
}
.header-content{
    height: 95%;
    width: 100%;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 2;
    background-position: right top;
}
.robins-content{
    width: 100%;
    height: 350px;
    top: 20%;
    position: relative;
    display: block;
    color: #fff;
    font-size: 145px;
    /* right: 50%; */
    /* -webkit-transform: translate(50%,-10%); */
/*    -ms-transform: translate(50%,75%);
    -o-transform: translate(50%,75%);*/
    /* transform: translate(50%,0%); */
}

.name-letters{
    width: 100%;
    height: 40%;
    position: relative;
    display: block;
    font-family: roboto-light;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
    -webkit-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.name-letters2{
    width: 100%;
    height: 5%;
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 17px;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
    -webkit-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.header-desc-wrap{
    height: 100px;
    top: 15%;
    width: 60%;
    margin: 0 auto;
}
.header-desc{
    font-size: 18px;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    line-height: 25px;
    color: #c1c1c1;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

.active-content{
    opacity: 1;
}

.name-letters-active{
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    -webkit-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.information-desc{
    width: 50%;
    margin: 0 auto;
    height: auto;
}

.information-title{
    font-size: 90px;
}

.robins-photography-content{
/*    width: 90%;
    height: 80%;
    position: relative;
    display: block;
    border: 1px solid red;
    margin: 0 auto;*/

    height: 80%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
}

.robins-photo-wrapper{
   /* width: 30%;
    margin-left: 2.5%;
    margin-top: 1.5%;
    height: 45%;
    position: relative;
    display: block;
    float: left;*/

    width: 30%;
    height: 38%;
    margin-left: 2.5%;
    margin-top: 1.5%;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.robins-photo{
    -webkit-transform: scale(2,2);
    -ms-transform: scale(2,2);
    -o-transform: scale(2,2);
    transform: scale(2,2);
    -webkit-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
}

.robins-photo:hover{
    -webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.robins-photography-pagination{
    border: 1px solid gray;
    width: 25%;
    height: 30px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.robins-photography-page{
    color: white;
    font-size: 15px;
    position: relative;
    display: block;
    float: left;
    width: 10%;
    height: 100%;
    line-height: 30px;
    text-align: center;
}

/* SPINNER [S] */
.spinner-wrapper{
    width: 55px;
    height: 55px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #c1c1c1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* SPINNER [E] */

/* MOBILE [S] */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .robins-content{
        top: 10%;
    }
    .information-title {
        font-size: 55px;
    }
    .information-desc {
        width: 75%;
    }
}
/* MOBILE [E] */
