/* CSS */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
@font-face {
    font-family: 'roboto-light';
    src: local('roboto-light'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-medium';
    src: local('roboto-medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-regular';
    src: local('roboto-regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    position: relative;
    font-family: roboto-regular;
}

h1, h2, h3, h4, h5, h6, p, strong{
	margin: 0;
	padding: 0;
}

.gray-bg{
    background: rgb(112,112,128);
}
.black-bg{
    background: rgb(36,36,36);
}

.main-loading-screen{
    width: 100%;
    height: 200px;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 30%;
    right: 50%;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    -o-transform: translate(50%,50%);
    transform: translate(50%,50%);
    -webkit-transition: transform 1000ms Ease-in;
    -o-transition: transform 1000ms Ease-in;
    transition: transform 1000ms Ease-in;
}

#canvas{
    position: absolute;
    display: block;
    z-index: 2;
}

.loading-remove{
    -webkit-transform: translate(200%,50%);
    -ms-transform: translate(200%,50%);
    -o-transform: translate(200%,50%);
    transform: translate(200%,50%);
}

.loading-cont{
    width: 25%;
    height: 80%;
    position: relative;
    display: block;
    margin: 0 auto;
}

.loading-text{
    width: 100px;
    height: 10px;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

.loading-image{
    background-image: url(../images/flash-run1.gif);
    background-size: 100%;
    background-position: 0%, 0%;
    width: 150px;
    height: 150px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.left{float: left;}
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-left{ text-align: left; }
.c-pointer{ cursor: pointer; }

.bin-relative-block-wh-100{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.main-wrapper{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0 auto;
    opacity: .8;
    z-index: 3;
}
.main-bg{
    position: absolute;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
}
.header{
    background: #101010;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: block;
    position: relative;
}
.header-img{
    z-index: 1;
    opacity: 0.5;
    height: 100%;
    position: absolute;
}
.header-nav{
    width: 80%;
    height: 5%;
    position: relative;
    display: block;
    z-index: 2;
    left: 10%;
    font-size: 12px;
}
.header-btns{
    width: 25%;
    height: 100%;
    position: relative;
    display: block;
    line-height: 30px;
    color: #c1c1c1;
}
.header-content{
    height: 95%;
    width: 0%;
    -webkit-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 2;
    background-position: right top;
}
.robins-content{
    width: 100%;
    height: 350px;
    top: 20%;
    position: relative;
    display: block;
    color: #fff;
    font-size: 145px;
    /* right: 50%; */
    /* -webkit-transform: translate(50%,-10%); */
/*    -ms-transform: translate(50%,75%);
    -o-transform: translate(50%,75%);*/
    /* transform: translate(50%,0%); */
}

.name-letters{
    width: 100%;
    height: 40%;
    position: relative;
    display: block;
    font-family: roboto-light;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}
.name-letters2{
    width: 100%;
    height: 5%;
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 17px;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}
.header-desc-wrap{
    height: 100px;
    top: 15%;
    width: 60%;
    margin: 0 auto;
}
.header-desc{
    font-size: 18px;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    line-height: 25px;
    color: #c1c1c1;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

.active-content{
    width: 100%;
}

.name-letters-active{
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}