doctype
html
	head
		title= title
		link(rel='stylesheet' href='/build/style.css')
	body
		//- img(src='/build/default.png')
		div#root
		script(src='/plugins/react.js')
		script(src='/plugins/react-dom.js')
		script(src='/plugins/react-custom-scrollbars.js')
		script(src='/build/build.js')