@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
.wSCck {
  padding: 105px 0 15px;
  display: grid;
  min-height: calc(100vh - 130px);
}

._1s4h3 {
  background: var(--bg-color);
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  opacity: .97;
}

.L-pvs {
  z-index: 2;
  display: block;
  position: relative;
}
#_32VlY {
  margin: 0 auto;
  padding: 20px 10px;
  height: 90px;
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: all 400ms ease-in-out;
}

#_32VlY._3yNJi {
  transform: translateY(-90px);
}

#_32VlY > ._25sBN {
  background: var(--bg-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 5px 30px rgba(0,0,0,.2);
}

#_32VlY > ._2jUsi {
  background: var(--bg-pattern);
  background-color: var(--bg-pattern-color);
  background-size: 64px 128px;
  background: var(--bg-pattern);
  background-color: var(--bg-pattern-color);
  background-size: 64px 128px;
}

#_32VlY > ._25sBN , #_32VlY > ._2jUsi {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

#_32VlY > ._25sBN._1Re5h , #_32VlY > ._2jUsi._1Re5h {
  opacity: .97;
}

#_32VlY>._2Vz0L {
  padding: 0;
  font-size: 2em;
}

#_32VlY>.Tdn75 {
  display: none;
}

#_32VlY>._2Vz0L, #_32VlY>.Tdn75>a{
  color: var(--font-color);
  cursor: pointer;
  text-transform: uppercase;
}

#_32VlY>._2Vz0L>._1-xcM{
  color: var(--bg-color-3);
}

#_32VlY>.afHNY>div>div {
  width: 35px;
  height: 3px;
  margin: 8px 0;
  background-color: var(--font-color);
}

#_32VlY>.afHNY>div:active {
  background-color: var(--bg-color-2);
}

/* to desktop */

@media (min-width: 768px) { 
  #_32VlY>.Tdn75 {
    display: inherit;
  }

  #_32VlY>.Tdn75>._2WfGy {
    color: var(--bg-color-3);
  }
  
  #_32VlY>.afHNY {
    display: none;
  }
}

#_1Qs6e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-2);
  padding: 25px 10px;
  height: 130px;
}

#_1Qs6e > ._36JZ2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 10px;
}

#_1Qs6e > ._36JZ2 > a {
  text-decoration: none;
  color: var(--font-color);
}

#_1Qs6e > p {
  text-align: center;
}

#_1CdMz {
  position: fixed;
  background: var(--bg-pattern);
  background-color: var(--bg-pattern-color);
  background-size: 64px 128px;
  width: 100vw;
  height: 100vh;
  z-index: 3;

  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 500ms, opacity 500ms ease-in-out;
}

#_1CdMz.A9fJs {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms ease-in-out;
}

#_1CdMz > ._1hT2t {
  display: grid;
  grid-template-rows: 10% 90%;
  background: var(--bg-color);
  height: 100%;
  opacity: .97;
}

#_1CdMz > ._1hT2t > span:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#_1CdMz > ._1hT2t > span:nth-child(2) { 
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  text-align: center;  
}

#_1CdMz > ._1hT2t > span:nth-child(2) > h1 {
  color: var(--font-color);
  text-transform: uppercase;
}

#_1CdMz > ._1hT2t > span:nth-child(2) > h1._1cqpM {
  color: var(--bg-color-3);
}

#_1CdMz > ._1hT2t > span > ._2n5OM > div {
  height: 5px;
  width: 50px;
  background-color: var(--font-color);
  position: relative;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
}

#_1CdMz > ._1hT2t > span > ._2n5OM > div:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

#_1CdMz > ._1hT2t > span > ._2n5OM > div:nth-child(2) {
  transform: rotate(-45deg);
}
#qobCh {
  display: flex;
  flex: 1;
}

._1dusO {
  color: red;
}

._5pvf9 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
}

.ABIYn {
  width: 240px;
  height: 264px;
  position: relative;
  display: block;
  overflow: hidden;
}

.ABIYn > span {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

._5pvf9 > .L2Nc5 > p:nth-child(1) {
  font-size: 4.5em;
  color: var(--font-color2);
  font-weight: bold;
  margin: 0;
}

._5pvf9 > .L2Nc5 > p:nth-child(2) {
  font-size: 2.5em;
}

/* to desktop */

@media (min-width: 768px) { 
 
}
._7KMUa {
  display: grid;
  grid-gap: 1rem;
}

._7KMUa > span > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* * to tablet */

@media (min-width: 550px) { 
  ._7KMUa {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(5, 200px);
    grid-auto-flow: dense;
  }

  ._7KMUa > span:nth-child(4n) {
    grid-column: span 4;
    grid-row: span 4;
  }
  
  ._7KMUa > span:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}

/* * to desktop */

@media (min-width: 768px) { 
  ._7KMUa {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
  }

  ._7KMUa > span:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  ._7KMUa > span:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}
#_2YZJT {
  display: grid;
  align-items: center;
  margin-left: 0!important;
  margin-right: 0!important;
}

#_2YZJT > ._2fnJs {
  background: transparent;
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
}

#_2YZJT > ._2fnJs > span > h2 {
  font-size: 4rem;
}

#_2YZJT > ._2fnJs > p {
  font-size: 1.5rem;
}

#_2YZJT > ._2fnJs, 
#_2YZJT > ._2fnJs > span > h2, 
#_2YZJT > ._1bIDH > h1  {
  color: var(--font-color);
}

#_2YZJT > ._1bIDH {
  background: var(--bg-color-2);
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  border-radius: .2rem;
  padding: 1em;
}

#_2YZJT > ._1bIDH > h1 {
  text-align: center;
  position: relative;
  display: block;
}

#_2YZJT > ._1bIDH > span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#_2YZJT > ._1bIDH > span > span {
  width: 110px;
}

#_2YZJT > ._1bIDH > span > span > svg {
  height: 120px;
  width: 120px;
  opacity: .8;
  transform: scale(.6);
  transform-origin: center;
  transition: all 300ms ease-in-out;
}

#_2YZJT > ._1bIDH > span > span > svg:hover {
  transform: scale(.8);
  opacity: 1;
}

/* to desktop */

@media (min-width: 768px) { 
  #_2YZJT {
    margin-left: auto!important;
    margin-right: auto!important;
  }

  #_2YZJT > ._1bIDH, #_2YZJT > ._2fnJs { 
    width: 80%;
  }
}
#_2FJb_ {
  display: flex;
  align-items: center;
  justify-content: center;
}

#_2FJb_ > ._1SoSr {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-gap: 5px;
}

#_2FJb_ > ._1SoSr > h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--font-color2);
}

#_2FJb_ > ._1SoSr > p {
  font-size: 1.5em;
}

#_2FJb_ > ._1SoSr > ._1T349 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#_2FJb_ > ._1SoSr > ._1T349 > span > i {
  margin: 5px 0;
}

#_2FJb_ > ._1SoSr > ._1T349 > span > ._2hXFo {
  font-size: 1.3em;
  padding: 8px;
}
/* DEFAULTS [S] */

:root {
  --bg-color: rgb(53, 57, 64);
  --bg-color-2: rgb(62, 146, 163);
  --font-color: rgb(223, 224, 212);
  --font-color2: rgb(62, 146, 163);
  --bg-color-3: rgb(250, 110, 112);
  --bg-pattern:   linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  --bg-pattern-color: #708090;;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background: var(--bg-pattern);
  background-color: #708090;
  background-color: var(--bg-pattern-color);
  background-size: 64px 128px;
  color: rgb(223, 224, 212);
  color: var(--font-color);
}

/* DEFAULTS [E] */
