@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
.wSCck {
  padding: 15px 0;
  display: flex;
  min-height: calc(100vh - 179px);
}
#_32VlY {
  margin: 0 auto;
  padding: 20px 10px 0px;
}

#_32VlY>.Tdn75 {
  display: none;
}

#_32VlY>h1, #_32VlY>.Tdn75>a{
  color: var(--cd-font-color);
}

#_32VlY>.afHNY>div>div {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: var(--cd-font-color);
}

/* to desktop */

@media (min-width: 768px) { 
  #_32VlY>.Tdn75 {
    display: inherit;
  }
  #_32VlY>.afHNY {
    display: none;
  }
}

#_1Qs6e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cd-bg-color-2);
  padding: 25px 10px;
}

#_1Qs6e > ._36JZ2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 10px;
}

#_1Qs6e > p {
  text-align: center;
}
#qobCh {
  display: flex;
}

._1dusO {
  color: red;
}

._5pvf9 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
}

.ABIYn {
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.ABIYn > span {
  background-image: url(./68e1797ff6ff66e157b37954d88c00e3.jpg);
  background-repeat: no-repeat;
  background-size: 111%;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

._5pvf9 > .L2Nc5 > p:nth-child(1) {
  font-size: 4.5em;
  color: var(--cd-font-color2);
  font-weight: bold;
  margin: 0;
}

._5pvf9 > .L2Nc5 > p:nth-child(2) {
  font-size: 2.5em;
} 

/* DEFAULTS [S] */

:root {
  --cd-bg-color: rgb(53, 57, 64);
  --cd-bg-color-2: rgb(62, 146, 163);
  --cd-font-color: rgb(223, 224, 212);
  --cd-font-color2: rgb(62, 146, 163);
  --cd-gradient-color: linear-gradient(to bottom, rgb(243, 112, 92), rgb(238, 92, 75), rgb(232, 68, 54));
}

html, body {
  height: 100%;
}

body {
  background: rgb(53, 57, 64);
  background: var(--cd-bg-color);
  color: rgb(223, 224, 212);
  color: var(--cd-font-color);
}

/* DEFAULTS [E] */
