<!DOCTYPE html>

<html data-ng-cloak lang="en" data-ng-app="main">
	<head>
		<meta charset ="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>Kristoffer Robin Canlas</title>
		<!-- <link rel="stylesheet" href="css/style.min.css" type="text/css"/> -->
		<link rel="stylesheet" href="css/main.css" type="text/css"/>
		<link rel="shortcut icon" href="https://img09.deviantart.net/eebe/i/2016/100/4/c/the_flash_logo_by_phiaann23-d9yhsaa.png">
		<link rel="apple-touch-icon image_src" href="https://img09.deviantart.net/eebe/i/2016/100/4/c/the_flash_logo_by_phiaann23-d9yhsaa.png">
	<script>
		console.log('Robin Canlas v1.0');
	</script>
	</head>
	<body data-ng-controller="mainController as self" class="gray-bg" >
		<!-- <span class="main-loading-screen"  data-ng-hide="self.mainFact.loadFinish">
			<span class="loading-cont">
				<span class="loading-image"></span>
				<span class="loading-text"></span>
			</span>
		</span> -->


		<span class="main-bg">
			<canvas id='canvas' width='500' height='400'></canvas>
		</span>
		<span class="main-wrapper" data-ng-show="self.mainFact.loadFinish">
			<span class="header bin-relative-block-wh-100">
				<span class="header-nav">
					<span class="header-btns left text-center c-pointer" data-ng-repeat="nav in self.mainFact.nav track by $index" data-ng-click='self.mainFact.goTo($index)'>{{nav.title}}</span>
				</span>
				<span class="header-content home" data-ng-class='{"active-content": self.mainFact.nav[0].state === true}'>
					<span class="robins-content">
						<span class="name-letters text-center" data-ng-class='{"name-letters-active": self.mainFact.nav[0].state === true}'> KR </span>
						<span class="name-letters2 text-center" data-ng-class='{"name-letters-active": self.mainFact.nav[0].state === true}'> Kristoffer Robin </span>
						<span class="name-letters2 text-center" data-ng-class='{"name-letters-active": self.mainFact.nav[0].state === true}'> Canlas </span>
						<span class="bin-relative-block-wh-100 header-desc-wrap">	
							<p class="header-desc text-center" data-ng-class='{"name-letters-active": self.mainFact.nav[0].state === true}'> Hello!, I'm a Web Developer by day, Speedster and Photographer by night.</p>
						</span>
					</span>
				</span>
				<span class="header-content information" data-ng-class='{"active-content": self.mainFact.nav[1].state === true}'>
					<span class="robins-content">
						<span class="name-letters text-center" data-ng-class='{"name-letters-active": self.mainFact.nav[1].state === true}'>Hero for hire.</span>	
						<span class="header-desc text-center" data-ng-class='{"name-letters-active": self.mainFact.nav[1].state === true}'>Hello, my name is Kristoffer Robin Canlas, and I'm the fastest Web Developer alive! I started Web Development about 4 years ago and have enjoyed working in the internet industry. You can get in touch with me using my email below.</span>
					</span>
				</span>
				<span class="header-content information" data-ng-class='{"active-content": self.mainFact.nav[2].state === true}'>
					<span class="robins-content">
						<span class="name-letters" data-ng-class='{"name-letters-active": self.mainFact.nav[2].state === true}'>TEST</span>					
					</span>
				</span>
				<span class="header-content information" data-ng-class='{"active-content": self.mainFact.nav[3].state === true}'>
					<span class="robins-content">
						<span class="name-letters" data-ng-class='{"name-letters-active": self.mainFact.nav[3].state === true}'>TEST</span>					
					</span>
				</span>
			</span> 
		</span>

		<script type="text/javascript" src="js/plugins/angular.min.js"></script>
		<script type="text/javascript" src="js/plugins/three.min.js"></script>
		<script type="text/javascript" src="js/plugins/underscore-min.js"></script>
		<script type="text/javascript" src="js/plugins/createjs.min.js"></script>
		<!-- <script type="text/javascript" src="js/main.min.js"></script> -->
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>

