#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-2);
  padding: 25px 10px;
  height: 130px;
}

#footer > .hosting {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 10px;
}

#footer > .hosting > a {
  text-decoration: none;
  color: var(--font-color);
}

#footer > p {
  text-align: center;
}
