

:root{
	/*PRIMARY COLORS and SIZES*/
	--default-font-size: 1.5vmin;
	--default-gold: #FFC500;
	--default-maroon: #4D0000;
	--default-black: #000000;
	--default-white: #FFFFFF;
	--default-red: #F00000;
	--default-gray: #4F4F4F;
	--default-lightgreen: #03F101;
	--default-darkgreen: #175700;
	--default-transparentgray: rgba(70, 70, 70, 60%);
	--default-transparentwhite: rgba(255, 255, 255, 50%);
	--default-transparentblack: rgba(0, 0, 0, 70%);
	--default-background-gold: rgba(255, 197, 0,20%);
	--default-gradient-red-btn: rgb(240, 0, 0) 0%, rgb(107, 0, 0) 100%;
	/*--default-gradient-green-btn: ;*/
	--default-gradient-gold-btn: #FFC500 0%, #580000 100%;
	--default-gradient-disabled-btn: rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 33.84%;
	--default-gradient-ellipse-btn: #ffffff0f 32%, transparent 58%;
	--default-modal-background-color: #3030bd, #0e0ea0, #000000e0;
	--default-border-radius: .5vmin;
	--default-btn-border-radius: 5vmin;
}

*, *::before, *::after{
	/*14px base on your minimum view port*/
	font-size: 1.5vmin; 
	/* box sizing border box */
	box-sizing: border-box; 
	/* Base font for all text */
	font-family: Lato; 
}

/* DEFAULT BLUE BACKGROUND FOR MODALS [S]*/
.clark-blue-bg, 
.table-list-wrapper,
.table-popup-wrapper{
    background: -webkit-radial-gradient(var(--default-modal-background-color));
    background: -moz-radial-gradient(var(--default-modal-background-color));
    background: -o-radial-gradient(var(--default-modal-background-color));
    background: radial-gradient(var(--default-modal-background-color));	
}
/* DEFAULT BLUE BACKGROUND FOR MODALS [S]*/

/*GENECLARK SCROLLBAR [S]*/
.body ::-webkit-scrollbar{
	width: 1.2vmin;
}
/*.body ::-webkit-scrollbar-thumb, .table-list-wrapper ::-webkit-scrollbar-thumb{
	border-radius: var(--default-border-radius);
	background: var(--default-white);
	box-shadow: inset 0 0 .5vmin rgba(0, 0, 0, .75);
}
.body ::-webkit-scrollbar-track, .table-list-wrapper ::-webkit-scrollbar-track{
	border-radius: var(--default-border-radius);
	background: var(--default-gray);
}*/

/*GENECLARK SCROLLBAR [E]*/


/*GENECLARKSTRAP FIND MATCH BUTTON GOLD ENABLED [S]*/
.red-btn{
	background: -webkit-linear-gradient(var(--default-gradient-red-btn));
	background: -o-linear-gradient(var(--default-gradient-red-btn));
	background: linear-gradient(var(--default-gradient-red-btn));
	border: inset .1vmin red;
}

.gold-btn{
    background: -moz-linear-gradient(180deg, var(--default-gradient-gold-btn));
    background: -o-linear-gradient(180deg, var(--default-gradient-gold-btn));
    background: -webkit-linear-gradient(180deg, var(--default-gradient-gold-btn));
    background: linear-gradient(180deg, var(--default-gradient-gold-btn));
    border: inset .1vmin gold;
}

.green-btn{

}

.dyna-btn, 
.dyna-btn-disabled,
.dyna-mini-btn,
.right-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dyna-btn, 
.dyna-mini-btn{
	cursor: pointer;
}

.dyna-btn .btn, 
.dyna-mini-btn .btn{
    position: relative;
    display: block;
    width: 48vmin;
    height: 9vmin;
    line-height: 9vmin;
    border-radius: var(--default-border-radius); 	
    font-size: 3.6vmin; 
    font-weight: bold;
    top: 1vmin;
    box-shadow: 0px 0px .5vmin rgba(0, 0, 0, 0.65);
}

.dyna-btn .btn-ellipse, 
.dyna-btn-disabled .btn-ellipse, 
.dyna-mini-btn .btn-ellipse{
	position: absolute;
	display: block;
	height: 4vmin;
	background: -moz-linear-gradient(to bottom, var(--default-gradient-ellipse-btn));
	background: -o-linear-gradient(to bottom, var(--default-gradient-ellipse-btn));
	background: -webkit-linear-gradient(to bottom, var(--default-gradient-ellipse-btn));
	background: linear-gradient(to bottom, var(--default-gradient-ellipse-btn));
	width: 100%;
	top: 6vmin;
	border-radius: 50%;
}

.dyna-btn .btn-txt, 
.dyna-btn-disabled .btn-txt,
.dyna-mini-btn .btn-txt{
	color: black;
    opacity: 0.4; 
    font-size: 3.2vmin;
}

.dyna-btn .btn-whitebg, 
.dyna-mini-btn .btn-whitebg, 
.dyna-btn-disabled .btn-whitebg{
    background: -moz-linear-gradient(180deg, var(--default-gradient-disabled-btn));
    background: -o-linear-gradient(180deg, var(--default-gradient-disabled-btn));
    background: -webkit-linear-gradient(180deg, var(--default-gradient-disabled-btn));
    background: linear-gradient(180deg, var(--default-gradient-disabled-btn));
    border-radius: var(--default-border-radius);
    width: calc(100% - 2vmin);
    height: 8vmin;
    display: block;
    position: absolute;
    top: 1.6vmin;
}
/*GENECLARKSTRAP FIND MATCH BUTTON GOLD ENABLED [E]*/


/*GENECLARKSTRAP FIND MATCH BUTTON GOLD DISABLED [S]*/
.dyna-btn-disabled{
	pointer-events: none;
}

.dyna-btn-disabled .btn{
    position: relative;
    display: block;
    width: 48vmin;
    height: 9vmin;
    line-height: 9vmin;
    border-radius: var(--default-border-radius);
    font-size: 3.6vmin; 
    font-weight: bold;
    top: 1vmin;
    background: -moz-linear-gradient(180deg, gray 0%, #484848 100%);
    background: -o-linear-gradient(180deg, gray 0%, #484848 100%);
    background: -webkit-linear-gradient(180deg, gray 0%, #484848 100%);
    background: linear-gradient(180deg, gray 0%, #484848 100%);
    box-shadow: 0px 0px .5vmin grey;
    border: inset .1vmin grey;
}
/*GENECLARKSTRAP FIND MATCH BUTTON GOLD DISABLED [E]*/


/*GENECLARKSTRAP MINI BUTTON ENABLED [S]*/
.mini-btn-wrapper{
	position: relative;
	display: block;
	width: 100%;
	height: 5vmin;
	top: 2vmin;
	color: var(--default-white);	
}
.dyna-mini-btn .btn{
	width: 10vmin;
	height: 3.60vmin;
	border-radius: var(--default-btn-border-radius);
	line-height: 3.60vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dyna-mini-btn .btn-txt{
    font-size: 1.3vmin;
    font-weight: bolder;
}
.dyna-mini-btn .btn-whitebg{
	border-radius: 1.2vmin;
	width: 9vmin;
	height: 3vmin;
	top: 1.3vmin;
}
.dyna-mini-btn .btn-ellipse{
	width: 9vmin;
	top: 2vmin;
}
/*GENECLARKSTRAP MINI BUTTON ENABLED [E]*/

/**************************************************
 *					ACCOUNT BALANCE	[S]			  *
 **************************************************/
.abalance-cont{
    height: 100%;
	float: right;
}
.abalance-wrapper{
    width: max-content;
    height: 100%;
	position: relative;
}

/*****
 * ICON
 *****/ 
.abalance-icon-cont{
	width: 5vmin;
	height: 100%;
	position: absolute;
	overflow: hidden;
	float: left;
	z-index: 1;
}
.abalance-icon-wrapper{
    width: calc(4vmin);
    height: 100%;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border-color: #FFEB3B;
    border-style: solid;
    border-width: 1px;
}
.abalance-icon{
	width: 100%;
	height: 100%;
	background-image: url(../images/balance.png);
	background-repeat: no-repeat;
	background-size: 85%;
	background-position: center;
}


/*****
 * AMOUNT
 *****/
.abalance-amount-cont{
	width: inherit;
	height: 100%;
	position: relative;
	float: left;
	margin-left: 1.6vmin;
	
    border-radius: 0 2vmin 2vmin 0;
    box-shadow: 0 0 0 0.2vmin #FFEB3B inset, 0 0 0 0.4vmin rgba(0, 0, 0, 1) inset;
	background: linear-gradient(rgba(100, 100, 100, 1) 1%, rgb(10, 10, 10), rgba(100, 100, 100, 1) 99%);
}
.abalance-amount-wrapper{
	width: inherit;
	height: 100%;
	margin: auto;
	top: 0;
	bottom: 0;
	position: relative;
    padding-left: 2.5vmin;
    padding-right: 1vmin;
}
.abalance-amount{
	width: inherit;
	height: 100%;
	position: relative;
	float: left;
	letter-spacing: .2vmin;
	display: table;
}
.abalance-label{
	color: rgba(255, 255, 255, 1);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-family: digital;
	font-weight: bold;
	
	width: 1vmin;
	height: 100%;
}

/**************************************************
 *					ACCOUNT BALANCE	[E]			  *
 **************************************************/
