

.font-lato{
	font-family: Lato;
}

.font-digital{
	font-family: digital;
}

.font-bolder{
	font-weight: bolder;
}

.font-bold{
	font-weight: bold;
}

.text-center{
	text-align: center;
}

.cursor-pointer{
	cursor: pointer;
}

.color-itlightgreen{
	color: var(--default-lightgreen);
}
.color-itdarkgreen{
	color: var(--default-darkgreen);
}
.color-itred{
	color: var(--default-red);
}

.cosmic-power-centering{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lurk_body_mask{
	background:url(../images/pattern.png);
	background-size:13.5vmin;
	background-repeat:repeat;
	background-color:blue;
	height:100%;
	width:100%;
	position:fixed;
	z-index:0;
}

.lurk_dimmer{
	height:100%;
	width:100%;
	background: -webkit-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.1));
	background:    -moz-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.1));
	background:      -o-linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.1));
	background:         linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.1));
	position:fixed;
	z-index:2;
}

.lurk_body_gradient{
	background: -webkit-linear-gradient(black 55%, #1b1b2b, #0000ffb3, #0000ffa6, #ffd700b3);
	background:    -moz-linear-gradient(black 55%, #1b1b2b, #0000ffb3, #0000ffa6, #ffd700b3);
	background:      -o-linear-gradient(black 55%, #1b1b2b, #0000ffb3, #0000ffa6, #ffd700b3);
	background:         linear-gradient(black 55%, #1b1b2b, #0000ffb3, #0000ffa6, #ffd700b3);
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:1;
	opacity:.8;
}


.lurk_body_layers{
	position:fixed;
	height:100%;
	width:100%;
	z-index:0;
	
}

.lurk_swirlls{
	background:url(../images/swirls.png);
	background-repeat:no-repeat;
	background-size:100%;
	position:fixed;
	height:100%;
	width:100%;
	z-index:1;
	opacity:.7;
	background-color: #24245885;
}

.lurk_body_icons .lurk_overlay_icon{
	position:absolute;
	background-color: #0b0bda;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.lurk_body_icons .lurk_overlay_icon:nth-child(2),
.lurk_body_icons .lurk_overlay_icon:nth-child(3),
.lurk_body_icons .lurk_overlay_icon:nth-child(4){
	height: 19vmin;
	width: 19vmin;
}

.lurk_body_icons .lurk_overlay_icon:nth-child(1){
	height: 28.5vmin;
	width: 28.5vmin;
}

.lurk_body_icons .lurk_overlay_icon:nth-child(1){
	left: 13vmin;
	top: 39vmin;
}
.lurk_body_icons .lurk_overlay_icon:nth-child(2){
	left: 64vmin;
	top: 44vmin;
}
.lurk_body_icons .lurk_overlay_icon:nth-child(3){
	left: 44vmin;
	top: 23vmin;
}
.lurk_body_icons .lurk_overlay_icon:nth-child(4){
	left: 44vmin;
	top: 64vmin;
}


.lurk_overlay_icon:nth-child(1):after{
	display:inline-block;
	content:"";
	height: 100%;
	width: 100%;
	
	-webkit-transform: rotate(-45deg) translate(0vmin ,2vmin) scale(1.2);
	-moz-transform: rotate(-45deg) translate(0vmin ,2vmin) scale(1.2);
	transform: rotate(-45deg) translate(0vmin ,2vmin) scale(1.2);
	
	background-size: contain;
	background-image: url(../images/pattern1.png);
	background-repeat: no-repeat;
}

.lurk_overlay_icon:nth-child(2):after, 
.lurk_overlay_icon:nth-child(3):after,
.lurk_overlay_icon:nth-child(4):after{
	display:inline-block;
	content:"";
	height: 100%;
	width: 100%;
	
	-webkit-transform: rotate(-45deg) translate(0vmin ,1vmin) scale(1.2);
	-moz-transform: rotate(-45deg) translate(0vmin ,1vmin) scale(1.2);
	transform: rotate(-45deg) translate(0vmin ,1vmin) scale(1.2);
	
	background-size: contain;
	background-image: url(../images/pattern1.png);
	background-repeat: no-repeat;
}

.main-container{
	width: 100vmin;
	height: 90vmin;
	display: block;
	position: relative;
/*	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);*/
}

.main-flex-container{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	background: #00000024;
}

.left-content, .right-content{
	position: relative;
	display: block;
	border: .1vmin solid var(--default-gold);
	border-radius: var(--default-border-radius);
	flex: 50%;
	height: calc(100% - .2vmin);
	max-width: calc(50% - .2vmin);
	padding: 0 .2vmin;
	overflow: hidden;
}

 /*LOBBY [S]*/
.header{
	position: relative;
	display: block;
	width: 100%;
	height: 23.40vmin;
	color: var(--default-white);
} 
.body{
	position: relative;
	display: block;
	width: 100%;
	height: 55.80vmin;
	color: var(--default-white);
    border: .2vmin solid var(--default-gold);
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

.footer{
	position: relative;
	display: block;
	width: 100%;
	height: 10.80vmin;
	color: var(--default-white);	
}

.header-logo{
	position: absolute;
	width: 18vmin;
	height: 11vmin;
	left: 0vmin;
	top: 0vmin;
	
	/*REMOVE THIS PART AFTER ADDING A LOGO*/	
	background: #56CCF2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-balance{
	position: absolute;
	width: 0;
	height: 4vmin;
	line-height: 4vmin;
	left: 18.5vmin;
	top: 1.8vmin;
    border-radius: 2vmin;
}

.header-profile-image{
	position: absolute;
	width: 9vmin;
	height: 9vmin;
	left: 39vmin;
	top: 1.8vmin;
}

.header-avatar{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/avatar/default.png);
    background-repeat: no-repeat;
    border-radius: 50%;
}

.header-profile-name{
	position: absolute;
	width: 14vmin;
	height: 3.6vmin;
	line-height: 3.6vmin;
	left: 24.5vmin;
	top: 7vmin;
    font-weight: bold;
    color: var(--default-gold);
}

.header-player-count, .header-player-top-hand{
	position: absolute;
	width: auto;
	height: 3vmin;  
	left: 2vmin;
	top: 12.5vmin;
	padding: .9vmin .75vmin; 
	font-size: 1.45vmin; 
    display: flex;
    justify-content: space-around;
    align-items: center;
	font-weight: bolder;
	border-radius: var(--default-border-radius);
	color: var(--default-gold);
	background: var(--default-background-gold);
}

.header-player-top-hand{
	left: 28vmin;
	width: 20vmin;
}

.header-player-top-hand-value{
	color: var(--default-white);
}

.header-table-profile{
	position: absolute;
	width: 30vmin;
	height: 3vmin;
	left: 18vmin;
	top: 18.5vmin;
    border-radius: var(--default-border-radius);
	color: var(--default-gold);
    display: flex;
    justify-content: center;
    align-items: center;
	background: var(--default-background-gold);
	font-weight: bolder;
}

.header-player-winlose{
    border-radius: var(--default-border-radius);
	display: flex;
    justify-content: center;
    align-items: center;
    width: 12vmin;
    height: 3vmin;
    background: var(--default-background-gold);
    position: relative;
    top: 18.5vmin;
    padding-right: .5vmin;
}
.header-player-winlose-text, 
.header-player-winlose-value{
	flex-basis: 25%;
	font-weight: bold;
}
.header-player-winlose-text{
	font-size: 1.4vmin;
	color: var(--default-gold);
    height: 1.2vmin;
}
.header-player-winlose-value{
	font-family: digital;
    font-size: 2vmin;
}
.player-table-header, 
.player-list-wrap{
	display: flex;
	flex-wrap: wrap;
	height: 4vmin;
	line-height: 4vmin;
}
.player-table-header{
	background: rgba(43, 37, 37, 0.69);
}
.player-table-header-text, 
.player-table-info-text{
	flex-basis: 20%;
}
.player-table-list{
	width: 51vmin;
	/*width: 49vmin;*/
	height: 52.8vmin;
    position: relative;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.player-table-list-wrapper{
	overflow: hidden;
	width: 50vmin;
}
.player-table-header-text{
	font-size: 1.2vmin;
	color: var(--default-gold);
}
.player-table-info-text{
    font-size: 1.3vmin;	
}

.bottom-spacing{
    margin-bottom: 1vmin;
}

.popup-background{
	background: var(--default-transparentblack);
	width: 105%;
    height: 101%;
    display: block;
    position: absolute;
    top: 0%;
    left: -3%;
    z-index: 9;
}

.table-list-wrapper, .table-popup-wrapper{
    height: 40vmin;
    width: 30vmin;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    z-index: 9;
    border: .2vmin solid var(--default-gold);
	border-radius: var(--default-border-radius);
	overflow: hidden;
}

.table-popup-wrapper{
    height: 22vmin;
    width: 45vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-popup-message{
	color: white;
    width: 29vmin;
    line-height: 2vmin;
}

.table-list-header, .table-list-body{
    width: 100%;
    height: 10%;
    position: relative;
    font-weight: bolder;
}

.table-list-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-gold);
}

.table-list-body{
	height: 90%;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-list-items{
    width: 100%;
    height: 4vmin;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: transform 200ms ease-in-out, color 200ms ease-in 100ms;
    -o-transition: transform 200ms ease-in-out, color 200ms ease-in 100ms;
    transition: transform 200ms ease-in-out, color 200ms ease-in 100ms;
    transform-origin: center;
    color: var(--default-transparentwhite);
}

.player-list-wrap:nth-child(odd),
.table-list-items:nth-child(odd){
	background: var(--default-transparentgray);
}

.table-list-items:hover, 
.table-list-items-selected{
	-webkit-transform: scale(1.3,1.3);
	-ms-transform: scale(1.3,1.3);
	-o-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
	color: var(--default-white);
}
.table-list-items.table-list-items-selected{
	-webkit-transform: scale(1.5,1.5);
	-ms-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}

.custom-scroll-bar, #playerlist-scrollbar-canvas{
    width: .85vmin;
    height: calc(100% - 5vmin);
    position: absolute;
    display: block;
    background: gray;
    top: calc(0% + 4.5vmin);
    right: 1vmin;
    border-radius: 1vmin;
	overflow: hidden;
}
#playerlist-scrollbar-canvas{
	width: 3vmin;
    right: -0.5vmin;
	background: none;
}

.table-list-content-wrapper{

}
/*LOBBY [E]*/

/*CANVAS [S]*/
.game-canvas{
	position: absolute;
    width: 100%;
    height: 100%;
}

.game-content{
	background: maroon;
	height: 90vmin;
	width: 50vmin;
	display: block;


	/*delete later after working on canvas*/
	display: flex;
    justify-content: center;
    align-items: center;
    color: var(--default-white);
}

/*.canvas{
	font-size: 3rem;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
}*/

/*CANVAS [E]*/
@media screen and (max-width: 800px) {
	.main-container{
		/*width: 100vmin;*/
	}
}

