#nav {
  margin: 0 auto;
  padding: 20px 10px 0px;
}

#nav>.name {
  padding: 0;
  font-size: 1.5em;
}

#nav>.menu {
  display: none;
}

#nav>.name, #nav>.menu>a{
  color: var(--cd-font-color);
  cursor: pointer;
  text-transform: uppercase;
}

#nav>.name>.tag{
  color: var(--cd-bg-color-3);
}

#nav>.burger>div>div {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: var(--cd-font-color);
}

/* to desktop */
@media (min-width: 768px) { 
  #nav>.menu {
    display: inherit;
  }
  #nav>.burger {
    display: none;
  }
}
