<div style="padding:30px">
	<div>First Name</div>
	<input id='fname' type="text">
	
	<div>Last Name</div>
	<input id='lname' type="text">
	
	<div>Username</div>
	<input id="username" type="text">
	
	<div>Password</div>
	<input id="password" type="password">
	
	<div>Verify Password</div>
	<input id='vpassword' type="password">
	
	<div>Phone</div>
	<input id='phone' type="text">
	
	<div>Email</div>
	<input id='email' type="text">

	<button data-sign-up style= "border-radius: 5px;font-size: 14px;"class="right">Sign Up</button>
</div>