<div>
	Member Name
</div>
<div>
	<input data-name placeholder="Can I get your Full Name?" id="full-name" class="input-name" type="text">
	<br>
	<div class="alert">
		<span id="alert"></span>
	</div>
</div>
	Guests? 
<div>
	<button data-1 class="guest-buttons" id="button-1">1</button> 
	<button data-2 class="guest-buttons" id="button-2">2</button> 
	<button data-3 class="guest-buttons" id="button-3">3</button>
	<span id="guest-count"></span>
</div>
	<br>
<div>
	Flight time
</div>
<div class="time-border">
	<span class="time blinker" id="data-time"></span>
</div>
<br>
<div class="dialog-buttons">
	<button data-cancel class="cancel">Cancel</button>
	<button data-unpaid class="unpaid display">Unpaid</button>
	<button data-save id="save" class="save">Save</button>
</div>

