doctype html
html(ng-app='appTraining' ng-cloak)
	head
		title uuuuuuuuuu
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1')
		link(rel="stylesheet" href='/css/styles.css')
		//- script(src='/js/plugins/angular.min.js')
		//- script(src='/js/plugins/angular-sanitize.min.js')
		//- script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js')
		script(src='/socket.io/socket.io.js')
		body(ng-controller='ctrlTraining as ctrl')
			iframe#loginAudio(width='100' height='100' src='https://www.youtube.com/embed/CiALFduL9FA?autoplay=1&playlist=CiALFduL9FA&loop=1')
			span(data-ng-hide='ctrl.msgFactory.login')
				button.cursor-pointer(data-ng-click='ctrl.msgFactory.showPage("login")') LOG-IN
				button.cursor-pointer(data-ng-click='ctrl.msgFactory.showPage("register")') REGISTER

			span(data-ng-show='ctrl.msgFactory.shownPage === "register" && !ctrl.msgFactory.login')
				br
				span REGISTER HERE!
				br
				label USERNAME
					input(type='text' data-ng-model='ctrl.msgFactory.registerInput.username')
				br
				label PASSWORD
					input(type='password' data-ng-model='ctrl.msgFactory.registerInput.password')
				br
				label DISPLAYNAME
					input(type='text' data-ng-model='ctrl.msgFactory.registerInput.displayname')
				br
				br
				label NAME
					input(type='text' data-ng-model='ctrl.msgFactory.registerInput.name')
				br
				br
				label AGE
					input(type='text' data-ng-model='ctrl.msgFactory.registerInput.age')
				br
				br
				label GENDER
					input(type='text' data-ng-model='ctrl.msgFactory.registerInput.gender')
				br
				hr
				button.cursor-pointer(data-ng-click='ctrl.msgFactory.register()') REGISTER

			//- span.login-wrapper(data-ng-show='ctrl.msgFactory.shownPage === "login" && !ctrl.msgFactory.login')
			span.login-wrapper
				form(data-ng-submit='ctrl.msgFactory.loginChat()' name="ctrl.msgFactory.buyinForm" novalidate)
					span.loginWrapper
						span.loginheader
							span.loginHcircle
							span.loginHtext LogOn
						span.loginbody
							span.loginIDtxt ID
							input.loginIDinput#loginIDinput(type='text' data-ng-model='ctrl.msgFactory.loginInput.username')
							span.loginPasstxt Password
							input.loginPassinput(type='password' data-ng-model='ctrl.msgFactory.loginInput.password')
						span.loginfooter
							button.loginButton.cursor-pointer(type='submit') login
							button.loginButton.exitButton.cursor-pointer(data-ng-click='ctrl.msgFactory.showPage("")') exit

			
				
	

	
		script(src='/js/plugins/vendor-table.js')
		script(src='/js/controller.js')
		script(src='/js/modules/alpha.js')
		script(src='/js/modules/beta.js')