doctype html
html
	head
		title `
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1')
		link(rel="stylesheet" href='/css/styles.css')
		script(src='/js/plugins/angular.min.js')
		script(src='/js/plugins/angular-sanitize.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js')
		script(src='/socket.io/socket.io.js')
		body(ng-app='appTraining' ng-controller='ctrlTraining as ctrl' ng-cloak='')
			iframe#loginAudio(width='100' height='100' src='https://www.youtube.com/embed/CiALFduL9FA?autoplay=1&playlist=CiALFduL9FA&loop=1')
			span.main-container
				span.row
					span(data-ng-hide='ctrl.msgFactory.join')
						span.loginWrapper.serverWrapper
							span.loginheader
								span.loginHcircle
								span.loginHtext Server Select 
							span.loginbody.serverBody
								span.serverInnerBody
									span.server.cursor-pointer(data-ng-repeat='room in ctrl.msgFactory.rooms track by $index' data-ng-click='ctrl.msgFactory.selectServer($index)' data-ng-dblclick='ctrl.msgFactory.joinServer()'  data-ng-class='{"roomActive": room.active}') {{room.roomName}} ({{room.userList}})
							span.loginfooter
								button.loginButton.serverButtonOk.cursor-pointer(data-ng-click='ctrl.msgFactory.joinServer()') OK
								button.loginButton.serverButtonExit.cursor-pointer(data-ng-click='ctrl.msgFactory.logout()') Exit
			//- span
				button.cursor-pointer(data-ng-click='ctrl.msgFactory.leaveGroupChat()') EXIT ROOM			

				span.canvasWrapper
					canvas#canvas(width='600' height='400')
				
				span PLAYER COUNT {{ctrl.gameFactory.playerCount}}

				span.btnDefault.cursor-pointer(data-ng-click='ctrl.gameFactory.setHand(1)') ROCK
				span.btnDefault.cursor-pointer(data-ng-click='ctrl.gameFactory.setHand(2)') PAPER
				span.btnDefault.cursor-pointer(data-ng-click='ctrl.gameFactory.setHand(3)') SCISSOR



				//- span.groupchat
					span GROUP CHAT
				
		
					form(data-ng-submit='ctrl.msgFactory.sendGroupMessage(ctrl.msgFactory.groupMessage, ctrl.msgFactory.room)' name="ctrl.msgFactory.groupchatForm"  novalidate)
						input(data-ng-model='ctrl.msgFactory.groupMessage.name' type='text' placeholder='Nickname' maxlength='10')
						input(data-ng-model='ctrl.msgFactory.groupMessage.value' type='text' placeholder='Message here...')
						span.emojicont(data-ng-click='ctrl.msgFactory.showEmoji()')
							span.emojicon
						span.emojiList(data-ng-show='ctrl.msgFactory.showEmojiCont')
							span.cursor-pointer(data-ng-repeat='acc in ctrl.msgFactory.accs track by $index' data-ng-class='acc.id' data-ng-click='ctrl.msgFactory.useEmoji(acc, ctrl.msgFactory.groupMessage.name)')

						button.btn-msg(type='submit') SUBMIT

					span.chatbox#chatbox
							//- span.chat
							span.chat(update-dchat-scroll data-ng-repeat='msg in ctrl.msgFactory.groupMessages track by $index') 
								span.chatwrapper
									span.avatarCont
										span.avatar
									span.groupName {{msg.name}} :
										p.groupPmsg(data-ng-bind-html='msg.message')
									//- span.groupName Robin :
									//- 	p.groupPmsg(data-ng-bind-html='"<span class=blush></span>"') 



				//- span(data-ng-show='ctrl.msgFactory.login')
					form(data-ng-submit='ctrl.msgFactory.sendMessage()' name="ctrl.msgFactory.chatForm"  novalidate)
						select(data-ng-model='ctrl.msgFactory.targetUsername')
							option(data-ng-repeat='user in ctrl.msgFactory.userList track by $index' value='{{user.displayname}}') {{user.displayname}}
						input(data-ng-model='ctrl.msgFactory.objMsg.message' type='text' placeholder='Type here...')
						button.btn-msg(type='submit') SUBMIT

					br
					button.cursor-pointer(data-ng-click='ctrl.msgFactory.logout()') LOG-OUT
					
					br
					span.messageList
						span.cursor-pointer(data-ng-repeat='msg in ctrl.msgFactory.messageType track by $index' data-ng-click='ctrl.msgFactory.setMessageType(msg)' )
							br
							span(data-ng-class='{"activeType": ctrl.msgFactory.objMsg.type === msg.type}' style='color: {{msg.color}}') {{msg.value}}



					span.chatbox#chatbox
							span.chat(update-dchat-scroll data-ng-repeat='msg in ctrl.msgFactory.messages track by $index' style='color: {{msg.color}}') | {{msg.message}}
					
					span.usersbox
						span.chat(data-ng-repeat='user in ctrl.msgFactory.userList track by $index' data-ng-class='{"color-green": user.login}') {{user.displayname}}



				//- button(data-ng-click='ctrl.msgFactory.logout()') LOG OUT


	
		script(src='/js/plugins/vendor-table.js')
		script(src='/js/controller.js')
		script(src='/js/modules/alpha.js')
		script(src='/js/modules/beta.js')