doctype html
html
	head
		title FUUUUUUUUccc
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1')
		link(rel="stylesheet" href='/css/styles.css')
		script(src='/js/plugins/angular.min.js')
		script(src='/js/plugins/angular-sanitize.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js')
		script(src='/socket.io/socket.io.js')
		body(ng-app='appTraining' ng-controller='ctrlTraining as ctrl' ng-cloak='')

			span HOME PAGE PO
				


	
	
		script(src='/js/controller.js')
		script(src='/js/modules/alpha.js')
		script(src='/js/modules/beta.js')