doctype html
html
	head
		title FUUUUUUUUccc
		meta(name='viewport' content='initial-scale=1, maximum-scale=1, minimum-scale=1')
		link(rel="stylesheet" href='/css/styles.css')
		//- script(src='/js/plugins/angular.min.js')
		//- script(src='/js/plugins/angular-sanitize.min.js')
		//- script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js')
		script(src='/socket.io/socket.io.js')
		script.
			var rs = !{JSON.stringify(rs)};
		body(ng-app='appTraining' ng-controller='ctrlTraining as ctrl' ng-cloak='')

			span
				button.cursor-pointer(data-ng-click='ctrl.msgFactory.leaveGroupChat()') EXIT ROOM			

				span.canvasWrapper
					canvas#canvas(width='600' height='400')
				
				span PLAYER COUNT {{ctrl.gameFactory.playerCount}}

				span.btnDefault.cursor-pointer(data-ng-click='ctrl.gameFactory.setHand("rock")') ROCK
				span.btnDefault.cursor-pointer(data-ng-click='ctrl.gameFactory.setHand("paper")') PAPER
				span.btnDefault.cursor-pointer(data-ng-click='ctrl.gameFactory.setHand("scissor")') SCISSOR
	
		script(src='/js/plugins/vendor-table.js')
		script(src='/js/controller.js')
		script(src='/js/modules/alpha.js')
		script(src='/js/modules/beta.js')