doctype html
html
	title= title
	link(rel="stylesheet" href='/build/desktop/main.css')

	body
		span#root
		
		script(src='/desktop/scripts/plugins/vendor-table.js')
		script(src='/desktop/scripts/plugins/react.js')
		script(src='/desktop/scripts/plugins/react-dom.js')
		script(src='/build/desktop/build.js')