*{
	margin:0px;
	padding: 0px;
}

body{
	width: 100%;
	height: 100%;
	padding:0px;
	margin: auto;
	background: #DFDFDF;
}

#wrapper {
	margin: 0px auto;
	height:auto;
	width: 100%;
}

/* HEADER */

#head{
	background: #333333;
	border: 1px solid #333333;
	padding: 0px;
	color: white;
	height: 65px;
	font-size: 28px;
	font-family: "Helvetica", #FFFFFF;
	text-decoration: none;
	margin: 0px auto;
	width: 1000px;
	margin-top: -70px;
}

#title {
	margin-top: 20px;
	margin-left: 0px;
}

#test{
	border: 1px solid black;
	height: 65px;
	width: 100%;
	background: #333333;	
}

#head #nav {
	margin-top: -35px;
	margin-left: 850px;
}

#head #nav ul li{
	display: inline;
	font-family: "Helvetica", #FFFFFF;
	padding: 3px 8px 3px 8px;
	font-size: 20px;
}

#head #nav a{
	text-decoration: none;
	color: white;
}

#navigation{
	border: red;
	background: orange;
}

#navigation li{
	display: inline-block;
	list-style: none;
	padding: 3px;
}

/* SECTION AREA */

#new {
	margin-top: 20px;
}

#new #name_prod {
	font-size: 36px;
	font-family: Helvetica;
	color: #333333;
	border: 1px solid #CCCCCC;
	margin: 5px;
	background-color: #FFFFFF;
}

#name_prod{
	padding: 10px;
}

#line {
	background-color: #CCCCCC;
	height: 2px;
	margin: 5px;
}

#new #pic_prod{
	width: 350px;
	height: 250px;
	background-color: #CCCCCC;
	margin-top: -92px;
}

#pic ul li div[id="1"]{
	margin-top: 10px;
	margin-left: 400px;
	background-color: #CCCCCC;	
	height: 30px;
	width: 30px;	
}

#pic ul li div[id="2"]{
	margin-top: -30px;
	margin-left: 450px;
	background-color: #CCCCCC;	
	height: 30px;
	width: 30px;	
}

#pic ul li div[id="3"]{
	margin-top: -30px;
	margin-left: 500px;
	background-color: #CCCCCC;	
	height: 30px;
	width: 30px;	
}

#pic ul li div[id="4"]{
	margin-top: -30px;
	margin-left: 550px;
	background-color: #FFFFFF;
	color: #CCCCCC;
	font-size: 20px;
}


ul li{
	list-style-type: none;
	display: inline;
}

input[id="buy"]{
	width: 200px;
	height: 50px;
	background: #cfd49b;
	font-size: 30px;
	color: #333333;
	margin-top: 20px;
	margin-left: 400px;
	cursor: pointer;
}

input[id="buy"]:hover{
	background: #E3E7B3;
}

input[id="sell"]{
	width: 200px;
	height: 50px;
	background: #f9ad81;
	font-size: 30px;
	color: #333333;
	cursor: pointer;
}

input[id="sell"]:hover{
	background: #F8C5A8;
}

#main{
	border: 1px solid #DFDFDF;
	height: 800px;
	width: 1015px;
	margin: 0px auto;
}

#side_box {
	border: 1px solid #CCCCCC;
	width: 350px;
	height: 250px;
	padding: 0px;
	margin-top: 20px;
	margin-left: 658px;
	background: #CCCCCC;
}

article[id="a1"] {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	width: 620px;
	margin-top: -251px;
	margin-left: 5px;

}

article[id="a1"] p{
	padding: 10px;
	font-family: Helvetica;
	font-size: 16px;
	color: #333333;	
}

article[id="a2"] {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	width: 620px;
	margin-top: 20px;
	margin-left: 5px;

}

article[id="a2"] p{
	padding: 10px;
	font-family: Helvetica;
	font-size: 16px;
	color: #333333;	
}

div[id="username"]{
	font-family: Helvetica;
	font-size: 24px;
	color: #333333;
	margin-left: 120px;
	margin-top: 20px;
}

div[id="date"]{
	font-family: Helvetica;
	font-size: 16px;
	color: #CCCCCC;
	margin-left: 120px;	
}

div[id="user_pic"]{
	background: #CCCCCC;
	border: 1px solid #CCCCCC;
	width: 80px;
	height: 80px;
	margin-top: -50px;
	margin-left: 10px;
}
