@mixin login-border {
	border-radius: 5px;
	font-size: 14px;	
}

@mixin login-button {
	float: right;
	margin: 10px 0px -10px 0px;
	background-color: #008cba;
	border-color: #007095;
	color: white;
	padding: 10px;
	border: 1px;

	&:hover {
		background-color: #007095;
	}
}

.login-container {
	@include login-border;
	border: solid 1px #ccc;
	padding: 30px;
	position: absolute;
	top: 20%;
	width: 320px;
	background-color: whitesmoke;
		.login-button {
			@include login-border;
			@include login-button;
		}
}