#container {
  display: flex;
  flex: 1;
}

.red {
  color: red;
}

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1;
}

.picture {
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.picture > span {
  background-image: url('../../../assets/images/theflash.jpg');
  background-repeat: no-repeat;
  background-size: 111%;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.intro > .text > p:nth-child(1) {
  font-size: 4.5em;
  color: var(--font-color2);
  font-weight: bold;
  margin: 0;
}

.intro > .text > p:nth-child(2) {
  font-size: 2.5em;
} 