.body {
  padding: 15px 0;
  display: grid;
  min-height: calc(100vh - 180px);
}

.bg {
  background: var(--bg-color);
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  opacity: .95;
}

.content {
  z-index: 2;
  display: block;
  position: relative;
}