:root{
	--default-gray: hsl(240, 7%, 47%);
    --default-lightgray: hsl(0, 0%, 67%);
    --default-black: hsl(0, 0%, 14%);
    --default-white: hsl(0, 0%, 100%);
    --default-gradientblack: hsla(0, 0%, 0%, 0.9215686274509803), hsla(0, 0%, 0%, 0.6784313725490196), hsla(0, 0%, 0%, 0.5098039215686274);
    --default-radialgradientblack: hsl(0, 0%, 25%),hsl(0, 0%, 19%),hsl(0, 0%, 12%);
}

@font-face {
	font-family: 'roboto-light';
	src: local('roboto-light'), url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto-medium';
	src: local('roboto-medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto-regular';
	src: local('roboto-regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}
html{
	overflow-x: hidden;
}
html, 
body {
	height: 100%;
	margin: 0;

}
body {
	position: relative;
	font-family: roboto-regular;
}

h1, h2, h3, h4, h5, h6, p, strong{
	margin: 0;
	padding: 0;
}

*, *::before, *::after{
	box-sizing: border-box;
}

.gray-bg{
	background: hsl(240, 7%, 47%);
}
.black-bg{
	background: rgb(36,36,36);
}
.c-pointer{
	cursor: pointer;
}
.color-white{
	color: white !important;
}