<div class="sidebar color-gray padding-5">
	<h4 class="border-bottom-gray">MAIN</h4>

	<ul class="side-nav list-style-type-none padding-0">
	  <li data-dashboard class="cursor-pointer">Dashboard</li>
	  <li data-schedule class="cursor-pointer">Schedule</li>
	</ul>

	<h4 class="border-bottom-gray">SETTINGS</h4>

	<ul class="side-nav list-style-type-none padding-0" >
	  <li class="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#club">Club Information</a></li>
	  <li class="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#members">Member Roster</a></li>
	</ul>
</div>	