<div class="sidebar color-gray padding-5">
	<h4 class="border-bottom-gray">MAIN</h4>

	<ul class="side-nav list-style-type-none padding-0">
	  <li class="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#dashboard/<%=uri()%>">Dashboard</a></li>
	  <li lass="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#schedule/<%=uri()%>">Schedule</a></li>
	</ul>

	<h4 class="border-bottom-gray">SETTINGS</h4>

	<ul class="side-nav list-style-type-none padding-0" >
	  <li class="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#club">Club Information</a></li>
	  <li class="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#members">Member Roster</a></li>
	</ul>
	
	<h4 class="border-bottom-gray"></h4>	
	
	<ul class="side-nav list-style-type-none padding-0" >
	  <li data-logout class="cursor-pointer"><a class="text-decoration-none color-gray cursor-pointer" href="#login">Log Out</a></li>
	</ul>
</div>	