#container {
  display: grid;
  align-items: center;
}

#container > .message {
  background: transparent;
  box-shadow: none;
}

#container > .message > span > h2 {
  font-size: 4rem;
}

#container > .message > p {
  font-size: 1.5rem;
}

#container > .message, 
#container > .message > span > h2, 
#container > .segment > h1  {
  color: var(--cd-font-color);
}

#container > .segment {
  background: var(--cd-bg-color-2);
  width: 80%;
  margin: 0 auto;
}

#container > .segment > h1 {
  text-align: center;
}

#container > .segment > span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container > .segment > span > span > svg {
  height: 100px;
  width: 100px;
  opacity: .8;
  transform: scale(.6);
  transform-origin: center;
  transition: all 300ms ease-in-out;
}

#container > .segment > span > span > svg:hover {
  transform: scale(.8);
  opacity: 1;
}

/* to desktop */
@media (min-width: 768px) { 
  #container > .segment { 
    width: 70%;
  }
}