.gallery-list {
  display: grid;
  grid-gap: 1rem;
}

.gallery-list > span > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* * to tablet */
@media (min-width: 550px) { 
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(5, 200px);
    grid-auto-flow: dense;
  }

  .gallery-list > span:nth-child(4n) {
    grid-column: span 4;
    grid-row: span 4;
  }
  
  .gallery-list > span:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}

/* * to desktop */
@media (min-width: 768px) { 
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
  }

  .gallery-list > span:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .gallery-list > span:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }
}