<html lang="en" class="no-js">
	<head>
		<title>Movies</title>
		<link rel="stylesheet" href="public/css/style.css">
		<link rel="stylesheet" href="public/.tmp/css/main.css">
	    <link href='http://fonts.googleapis.com/css?family=Muli:300|Montserrat' rel='stylesheet' type='text/css'>
		<script src="public/scripts/libs/parse.js"></script>
		<script>
			Parse.initialize("5VMu5iwjKlkhaoUuWvmvn3sSjuAohhztpn644moR", "6uPDHCh47MuUmeNm0m20u0P5sItEyLb9Z5eNvKxr");
		</script>
	</head>
	<body>
	<div class="wrapper">	
		<header>
			<div id="header-region"></div>		
		</header>
		<div id="sidebar-region" class="sidebar color-white border-radius-2"></div>
		<div id="main-region" class="main-content"></div>
	 </div> 
	  <script src="public/bower_components/jquery/dist/jquery.js"></script>
	  <script src="public/bower_components/underscore/underscore.js"></script>
	  <script src="public/bower_components/backbone/backbone.js"></script>
	  <script src="public/bower_components/marionette/lib/backbone.marionette.js"></script>
	<script src="public/scripts/models/information.js"></script>
	<script src="public/scripts/collections/informations.js"></script>
	<!-- HOME -->
	<script src="public/scripts/views/home_list.js"></script>
	<script type="text/template" id="home-layout">
		<div class="padding-5-0-5-10 font-weight-bold color-white">CINEMA MOVIES</div>
		<div id="cinema-region" ></div>
		<div class="padding-5-0-5-10 font-weight-bold color-white">FEATURED MOVIES</div>
		<div id="featured-region"></div>
	</script>
	<script type="text/template" id="cinema">
 	  	<div class="padding-0-10-10">
  			<div class="video-thumbnail border-radius-2 text-align-center font-size-13" style="">
	  			<a href="#">
					<img src="<%=image%>" alt="" class="width-170-height-180">
				</a>
		  	  	<a href="#" class="color-ccc text-decoration-none font-size-15"><%= name %></a>
  			</div>
 	  	</div>	
	</script>
	<script type="text/template" id="featured">
	  	<div class="padding-0-10-10">
			<div class="video-thumbnail border-radius-2 text-align-center font-size-13" style="">
				<a href="#">
				<img src="<%=image%>" alt="" class="width-170-height-180">
			</a>
	  	  	<a href="#" class="color-ccc text-decoration-none font-size-15"><%= name %></a>
			</div>
	  	</div>	
	</script>
	<!-- GENRE -->
	<script src="public/scripts/models/genre.js"></script>
	<script src="public/scripts/collections/genres.js"></script>
	<script src="public/scripts/views/genre_list.js"></script>	
	<script type="text/template" id="genre">
		<div class="color-white padding-5 cursor-pointer"><%=name%></div>
	</script>
	<!-- MOVIES -->
 	  <script src="public/scripts/models/movie.js"></script>
	  <script src="public/scripts/collections/movies.js"></script>
	  <script src="public/scripts/views/movie_list.js"></script>
	  <script src="public/scripts/controllers/movie_list.js"></script>
 	  <script type="text/template" id="movies">
 	  	<div class="padding-0-10-10">
  			<div class="video-thumbnail border-radius-2 text-align-center font-size-13" style="">
	  			<a href="#">
					<img src="<%=image%>" alt="" class="width-170-height-180">
				</a>
		  	  	<a href="#" class="color-ccc text-decoration-none"><%= name %></a>
  			</div>
 	  	</div>  		
  	  </script>
	<!-- HEADER -->
  	  <script src="public/scripts/views/search.js"></script>	
 	  <script type="text/template" id="search">
			<input style="width: 300px; border-bottom-left-radius: 5px; border-top-left-radius: 5px;" type="text" placeholder="Search..." class="font-family-verdana font-size-13">
			<select class="width-auto">
				<option value="name">Title</option>
				<option value="actor">Actor</option>
				<option value="director">Director</option>	
			</select>
  	  </script>
  	  <!-- SIDEBAR -->
	  <script src="public/scripts/models/sidebar.js"></script>
	  <script src="public/scripts/collections/sidebars.js"></script>
	  <script src="public/scripts/views/sidebar_list.js"></script>
	  <script src="public/scripts/controllers/sidebar_list.js"></script>
 	  <script type="text/template" id="sidebar">
		<div <%=data%>><%=name%></div>
  	  </script>
  	  <!-- YEAR -->
  	  <script src="public/scripts/models/year.js"></script>
	  <script src="public/scripts/collections/years.js"></script>
	  <script src="public/scripts/views/year_list.js"></script>
 	  <script type="text/template" id="year">
		<div class="color-white padding-5 cursor-pointer"><%=year%></div>
  	  </script>
  	  <!-- COUNTRY -->
  	  <script src="public/scripts/models/country.js"></script>
	  <script src="public/scripts/collections/countries.js"></script>
	  <script src="public/scripts/views/country_list.js"></script>
 	  <script type="text/template" id="countries">
		<div class="color-white padding-5 cursor-pointer"><%=name%></div>
  	  </script>
  	  <!-- DETAILS -->
	  <script src="public/scripts/views/details_show.js"></script>
 	  <script type="text/template" id="details">
		<div class="row">
			<div class="large-24 columns color-white font-family-arial font-weight-bold padding-top-5 font-size-19 bg-color-48-48-48">
				<span> <%=name%> <%=year%> </span>
			</div>
		</div>	   	  
		<div class="bg-color-48-48-48" style="">	  
	 	  	<div class="row color-white font-family-verdana font-size-11 padding-15">
	 	  		<div class="large-5 columns">
	 	  			<img src="<%= image %>" alt="">
	 	  		</div>
	 	  		<div class="large-19 columns">
	 	  			<div class="row bg-color-17-17-17 padding-10 border-radius-2">
	 	  				<div class="large-24 columns">
		 	  				Directed by: <%= movieDirector() %>
	 	  				</div>
	 	  				<div class="large-24 columns">
	 	  					Year: <%= year %> | Duration: <%= movieDuration() %> min
	 	  				</div>
	 	  				<div class="large-24 columns">Genre: <%= movieGenre() %></div>
	 	  				<div class="large-24 columns">Starring: <%= movieCast() %></div>
	 	  				<div class="large-24 columns">Country: <%=movieCountry() %></div>
	 	  				<div class="large-24 columns">Language: <%= language %></div>	
	 	  			</div>
	 	  			
	 	  			<div class="row bg-color-17-17-17 padding-10 border-radius-2" style="margin-top:12px;">
	 	  				<div class="large-24 columns">
					 	  	<%= movieDescription() %>
	 	  				</div>
	 	  			</div>
	 	  		</div>
				<div class="row">
	  				<div class="large-24 columns" style="padding:5px 30px;">
				<iframe src="<%=video%>" height="450" width="800" style="z-index:2147483647;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0" scrolling="no"></iframe>
	  				</div>
	  			</div>	
	 	  	</div>
	 	  </div> 	
  	  </script>
  	  <!-- LANGUAGES -->
  	  <script src="public/scripts/models/language.js"></script>
	  <script src="public/scripts/collections/languages.js"></script>
	  <!-- ACTORS -->
  	  <script src="public/scripts/models/actor.js"></script>
	  <script src="public/scripts/collections/actors.js"></script>
	  <script src="public/scripts/controllers/home.js"></script>
  	  <script src="public/scripts/app.js"></script>		
	</body>
</html>