<html>
	<head>
		<meta charset ="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>Kristoffer Robin Canlas - ReactJS</title>
		<link rel="stylesheet" href="css/main.css">
		<script>
			console.log('%c FLASH ', 'background: #800000; color: yellow; font-size: 12pt; font-family: "Comic Sans MS", cursive, sans-serif', 'Robin Canlas v1.0.0');
			
		</script>
	</head>
	<body class="gray-bg">
		<span class="main-bg" id="root"></span>
	<script src='scripts/plugins/react.js'></script>
	<script src='scripts/plugins/react-dom.js'></script>
	<script src='scripts/plugins/three.min.js'></script>
	<script src='build/build.js'></script>
	</body>
</html>