body{
	background: rgb(37,37,37);
	margin: 0 15%;	
}

/* Align the sidebar */

header {
	position: absolute;
	top: 2%;
	left: 57%;
	right: 0;
	height: 20%;
}

.sidebar {
	/*width: 30%;*/
	background: rgb(48,48,48);
	position: absolute;
	left: 15%;
	top: 20%;
	bottom: 0;
	width: 10%;
}

.main-content{
	/*width: 70%;*/
	position: absolute;
	left: 26%;
	top: 20%;
	right: 15%;
	bottom: 0;
}

.box{
	height: 210px; 
	width: 150px; 
	margin:auto; 
}

.video-thumbnail {
	width:170px;
	min-height: 173px; 
	border: 5px solid black; 
	background-color:black; 
	height:235px;
	font-family: arial,sans-serif;
}

/*Displaying Inline*/
